img {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

.selected-image {
	border-top: 5px solid red;
	border-bottom: 5px solid red;
	border-left: 5px solid red;
	border-right: 5px solid red;
}

#recent, #next {
	display: none;
}